{{define "navbar"}}
<div class="fixed lg:hidden z-30 bottom-0 w-full h-12 bg-gray-200 dark:bg-gray-900">
</div>
<div
  class="fixed lg:hidden z-30 bottom-12 w-full h-12 bg-gradient-to-t from-white to-transparent dark:bg-gradient-to-t dark:from-gray-800 dark:to-transparent">
</div>
<nav class="flex flex-row fixed inset-x-0 justify-center items-center z-40 bottom-5 lg:hidden whitespace-nowrap">

  <div hx-get="/dashboard" hx-swap="innerHTML" hx-target="#contenido" hx-trigger="click"
    _="on click remove .dark:bg-gray-800 .border-2 .border-gray-400 .bg-gray-100 .dark:text-white .dark:text-gray-200 .font-semibold from .sidebtn then add .dark:bg-gray-800 .bg-gray-100 .dark:text-gray-200 .dark:text-white .font-semibold .border-1 .border-gray-300 .border-2 .border-gray-400 on me "
    class="flex align-middle justify-center z-50 w-20 h-20 bg-gray-300 rounded-full mx-5 align-middle text-center p-5 sidebtn text-gray-600 transition-colors float-left duration-200 transform groups dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
    <img src="/assets/img/coins.svg" class="z-50 w-10 h-10 scale-100 hover:scale-110 transition-all duration-400"
      alt="dashboard">
    <span
      class="font-medium absolute rounded-xl bg-gray-100 dark:bg-gray-600 brorder-2 border-slate-400 px-2 -bottom-3 dark:text-white">Dashboard</span>
  </div>

  <div hx-get="/pairs" hx-swap="innerHTML" hx-target="#contenido" hx-trigger="click"
    _="on click remove .dark:bg-gray-800 .border-2 .border-gray-400 .bg-gray-100 .dark:text-white .dark:text-gray-200 .font-semibold from .sidebtn then add .dark:bg-gray-800 .bg-gray-100 .dark:text-gray-200 .dark:text-white .font-semibold .border-1 .border-gray-300 .border-2 .border-gray-400 on me "
    class="flex align-middle z-50 w-20 h-20 justify-center bg-gray-300 rounded-full mx-5 align-middle text-center p-5 sidebtn text-gray-600 transition-colors float-left duration-200 transform groups dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700 ">
    <img src="/assets/img/exchange.svg" class="z-50 w-10 h-10 scale-100 hover:scale-110 transition-all duration-400"
      alt="pairs">
    <span
      class="font-medium absolute rounded-xl bg-gray-100 dark:bg-gray-600 brorder-2 border-slate-400 px-2 -bottom-3 dark:text-white">Pairs</span>
  </div>

  <div hx-get="/pairs" hx-swap="innerHTML" hx-target="#contenido" hx-trigger="click"
    _="on click remove .dark:bg-gray-800 .border-2 .border-gray-400 .bg-gray-100 .dark:text-white .dark:text-gray-200 .font-semibold from .sidebtn then add .dark:bg-gray-800 .bg-gray-100 .dark:text-gray-200 .dark:text-white .font-semibold .border-1 .border-gray-300 .border-2 .border-gray-400 on me "
    class="flex align-middle justify-center z-50 w-20 h-20 bg-gray-300 rounded-full mx-5 align-middle text-center p-5 sidebtn text-gray-600 transition-colors float-left duration-200 transform groups dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700 ">
    <img src="/assets/img/accounts.svg" class="z-50 w-10 h-10 scale-100 hover:scale-110 transition-all duration-400"
      alt="accounts">
    <span
      class="font-medium absolute rounded-xl bg-gray-100 dark:bg-gray-600 brorder-2 border-slate-400 px-2 -bottom-3 dark:text-white">Accounts</span>

  </div>

  <div hx-get="/pairs" hx-swap="innerHTML" hx-target="#contenido" hx-trigger="click"
    _="on click remove .dark:bg-gray-800 .border-2 .border-gray-400 .bg-gray-100 .dark:text-white .dark:text-gray-200 .font-semibold from .sidebtn then add .dark:bg-gray-800 .bg-gray-100 .dark:text-gray-200 .dark:text-white .font-semibold .border-1 .border-gray-300 .border-2 .border-gray-400 on me "
    class="flex drop-shadow-2xl align-middle justify-center z-50 w-20 h-20 bg-gray-300 rounded-full mx-5 align-middle text-center p-5 sidebtn text-gray-600 transition-colors float-left duration-200 transform groups dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700 ">
    <img src="/assets/img/settings.svg" class="z-50 w-10 h-10 scale-100 hover:scale-110 transition-all duration-400"
      alt="settings">
    <span
      class="font-medium absolute rounded-xl bg-gray-100 dark:bg-gray-600 brorder-2 border-slate-400 px-2 -bottom-3 dark:text-white">Settings</span>
  </div>

</nav>
<div class="fixed scale-0 lg:invisible sm:scale-100 z-30 right-3 -bottom-2 h-12 bg-gray-200 dark:bg-gray-900">
  <button _="on click toggle .dark on <html/> then toggle .hidden on .fa-light then changeTradingViewTheme()"
    class="text-gray-900 mx-2 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400">
    <i class="fa-light fa-sun hidden text-2xl dark:text-gray-200"></i>
    <i class="fa-light fa-moon text-2xl dark:text-gray-200"></i>
  </button>
</div>

{{end}}
