{{define "sidebar"}}
<aside
  class="fixed hidden flex-wrap items-center justify-between block w-full p-0 my-4 antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl dark:shadow-none dark:bg-slate-850 max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0"
  _="on click remove .ml-6 from me then remove .translate-x-0 from me"
  id="sidebar"
  aria-expanded="false">
  <div class="h-19">
    <i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times dark:text-white text-slate-400 xl:hidden"
      sidenav-close></i>
    <a class="block px-8 py-6 m-0 text-sm whitespace-nowrap dark:text-white text-slate-700"
       href="#">
      <img src="/assets/img/logo.png"
        class="inline h-full max-w-full transition-all duration-200 dark:hidden ease-nav-brand max-h-8"
        alt="main_logo" />
      <span class="ml-2 font-semibold text-xl transition-all duration-200 ease-nav-brand">Controtto</span>
    </a>
  </div>

  <hr
    class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />

  <div class="items-center block w-auto max-h-screen overflow-auto h-sidenav grow basis-full">
    <div>
      <ul class="flex flex-col pl-0 mb-0">

        <li class="mt-0.5 w-full">
          <a hx-get="/dashboard" hx-swap="innerHTML" hx-target="#contenido"
            _="on click remove .font-semibold from .sidebarbtn then add .font-semibold on me"
            class="sidebarbtn dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors font-semibold text-slate-700">
            <div
              class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
              <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
            </div>
            <button>
              <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Dashboard</span>
            </button>
          </a>
        </li>

        <li class="mt-0.5 w-full">
          <a hx-get="/pairs" hx-swap="innerHTML"  hx-target="#contenido"
            class="sidebarbtn dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
            _="on click remove .font-semibold from .sidebarbtn then add .font-semibold on me" >
            <div
              class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
              <i class="relative top-0 text-sm leading-normal text-emerald-500 fa-solid fa-chart-area"></i>

            </div>
            <button>
              <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Profit & Loss</span>
            </button>
          </a>
        </li>

        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a hx-get="/tables" hx-swap="innerHTML" hx-target="#contenido" -->
        <!--     _="on click remove .font-semibold from .sidebarbtn then add .font-semibold on me" -->
        <!--     class="sidebarbtn dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"> -->
        <!--     <div -->
        <!--       class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i> -->
        <!--     </div> -->
        <!--     <button> -->
        <!--       <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Tables</span> -->
        <!--     </button> -->
        <!--   </a> -->
        <!-- </li> -->

        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a hx-get="/tables" hx-swap="innerHTML" hx-target="#contenido" -->
        <!--     _="on click remove .font-semibold from .sidebarbtn then add .font-semibold on me" -->
        <!--     class="sidebarbtn dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"> -->
        <!--     <div -->
        <!--       class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center fill-current stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-emerald-500 ni ni-credit-card"></i> -->
        <!--     </div> -->
        <!--     <button> -->
        <!--       <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Billing</span> -->
        <!--     </button> -->
        <!--   </a> -->
        <!-- </li> -->

        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a hx-get="/tables" hx-swap="innerHTML" hx-target="#contenido" -->
        <!--     _="on click remove .font-semibold from .sidebarbtn then add .font-semibold on me" -->
        <!--     class="sidebarbtn dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"> -->
        <!--     <div -->
        <!--       class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-app"></i> -->
        <!--     </div> -->
        <!--     <button> -->
        <!--       <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Virtual Reality</span> -->
        <!--     </button> -->
        <!--   </a> -->
        <!-- </li> -->
        <!---->
        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" -->
        <!--     href="./pages/rtl.html"> -->
        <!--     <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-red-600 ni ni-world-2"></i> -->
        <!--     </div> -->
        <!--     <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">RTL</span> -->
        <!--   </a> -->
        <!-- </li> -->
        <!---->
        <!-- <li class="w-full mt-4"> -->
        <!--   <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">Account pages</h6> -->
        <!-- </li> -->
        <!---->
        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" -->
        <!--     href="./pages/profile.html"> -->
        <!--     <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-slate-700 ni ni-single-02"></i> -->
        <!--     </div> -->
        <!--     <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Profile</span> -->
        <!--   </a> -->
        <!-- </li> -->
        <!---->
        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" -->
        <!--     href="./pages/sign-in.html"> -->
        <!--     <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-single-copy-04"></i> -->
        <!--     </div> -->
        <!--     <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Sign In</span> -->
        <!--   </a> -->
        <!-- </li> -->
        <!---->
        <!-- <li class="mt-0.5 w-full"> -->
        <!--   <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" -->
        <!--     href="./pages/sign-up.html"> -->
        <!--     <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5"> -->
        <!--       <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-collection"></i> -->
        <!--     </div> -->
        <!--     <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Sign Up</span> -->
        <!--   </a> -->
        <!-- </li> -->
      </ul>
    </div>
  </div>

</aside>
{{end}}
