{{define "main"}}
<!DOCTYPE html>
<html>

<head>
  {{template "head"}}
</head>

<body class="bg-gray-100 dark:bg-gray-800">
  <!-- sidenav  -->
  <div class="min-h-screen flex">
    {{template "sidebar" .}}
    <!-- end sidenav -->

    <main class="flex-1  dark:bg-gray-800 space-y-6 overflow-y-auto bg-gray-100 lg:h-screen md:space-y-8">
      <!-- Navbar -->
      {{template "navbar" .}}
      <!-- end Navbar -->
      <!-- Main -->
      <!-- {{template "header" .}} -->
      <div id="contenido">
      </div>
      <!-- end Main -->
    </main>
    <div class="absolute m-4 right-0 bottom-0 ">
      <div id="mitoast">
      </div>
    </div>
  </div>
</body>
{{template "scripts" .}}

</html>
{{end}}
