{{define "main"}}
<!DOCTYPE html>
<html>

<head>
  {{template "head"}}
</head>

<body class="bg-neutral-100 dark:bg-black">
  <!-- sidenav  -->
  <div class="flex">
    {{template "sidebar" .}}
    <!-- end sidenav -->

    <main class="flex-1 dark:bg-neutral-900 overflow-y-auto bg-white lg:bg-gray-100 lg:h-screen">
      <!-- Navbar -->
      {{template "navbar" .}}
      <!-- end Navbar -->
      <!-- Main -->
      <div id="contenido" class="">
      </div>
      <div class="h-36">
      </div>
      <!-- end Main -->
    </main>
    <div class="absolute m-4 right-0 z-50 top-0 ">
      <div id="mitoast">
      </div>
    </div>
  </div>
{{template "global" .}}
</body>

</html>
{{end}}
