<div class="flex flex-wrap -mx-3">
  <!-- card1 -->
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                Today's Money</p>
              <h5 id="money" class="mb-2 font-bold dark:text-white">
                $ -- </h5>
              <p class="mb-0 dark:text-white dark:opacity-60">
                <span class="text-sm font-bold leading-normal text-emerald-500">+55%</span> since yesterday
              </p>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div hx-get="/money" hx-indicator=".loader,.loaded-content" hx-swap="innerHTML"
              hx-trigger="load, click delay:1" hx-target="#money"
              class="cursor-pointer inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-blue-500 to-violet-500">
              <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
            </div>
            <span class="loader htmx-indicator mt-2 float-right" id="spinner">Fetching</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card2 -->
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                Today's Users</p>
              <h5 hx-get="/users" hx-swap="innerHTML" hx-trigger="every 1s" class="mb-2 font-bold dark:text-white">
                $ -- </h5>
              <p class="mb-0 dark:text-white dark:opacity-60">
                <span class="text-sm font-bold leading-normal text-emerald-500">+3%</span>
                since last week
              </p>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-red-600 to-orange-600">
              <i class="ni leading-none ni-world text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card3 -->
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                New Clients</p>
              <h5 class="mb-2 font-bold dark:text-white">+3,462</h5>
              <p class="mb-0 dark:text-white dark:opacity-60">
                <span class="text-sm font-bold leading-normal text-red-600">-2%</span>
                since last quarter
              </p>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div
              class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-emerald-500 to-teal-400">
              <i class="ni leading-none ni-paper-diploma text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card4 -->
  <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                Sales</p>
              <h5 class="mb-2 font-bold dark:text-white">$103,430</h5>
              <p class="mb-0 dark:text-white dark:opacity-60">
                <span class="text-sm font-bold leading-normal text-emerald-500">+5%</span>
                than last month
              </p>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div
              class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-orange-500 to-yellow-500">
              <i class="ni leading-none ni-cart text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 mt-0 lg:w-7/12 lg:flex-none">
    <div
      class="border-black/12.5 dark:bg-slate-850 dark:shadow-dark-xl shadow-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
      <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid p-6 pt-4 pb-0">
        <h6 class="capitalize dark:text-white">Sales overview</h6>
        <p class="mb-0 leading-normal dark:text-white dark:opacity-60 text-sm">
          <i class="fa fa-arrow-up text-emerald-500" aria-hidden="true"></i>
          <span class="font-semibold">4% more</span> in 2021
        </p>
      </div>
      <div class="flex-auto p-4">
        <div>
          <canvas id="chart-line" style="display: block; box-sizing: border-box; height: 300px; width: 770px;"
            width="770" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
    <div slider="" class="relative w-full h-full overflow-hidden rounded-2xl">

      <div slide="" class="absolute w-full h-full transition-all duration-500" style="transform: translateX(0%);">
        <img class="object-cover h-full" src="/assets/img/carousel-1.jpg" alt="carousel image">
        <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
          <div
            class="inline-block w-8 h-8 mb-4 text-center text-black bg-white bg-center rounded-lg fill-current stroke-none">
            <i class="top-0.75 text-xxs relative text-slate-700 ni ni-camera-compact"></i>
          </div>
          <h5 class="mb-1 text-white">Get started with Argon</h5>
          <p class="dark:opacity-80">There’s nothing I really wanted to do in life that I wasn’t able to get good at.
          </p>
        </div>
      </div>

      <div slide="" class="absolute w-full h-full transition-all duration-500" style="transform: translateX(100%);">
        <img class="object-cover h-full" src="/assets/img/carousel-2.jpg" alt="carousel image">
        <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
          <div
            class="inline-block w-8 h-8 mb-4 text-center text-black bg-white bg-center rounded-lg fill-current stroke-none">
            <i class="top-0.75 text-xxs relative text-slate-700 ni ni-bulb-61"></i>
          </div>
          <h5 class="mb-1 text-white">Faster way to create web pages</h5>
          <p class="dark:opacity-80">That’s my skill. I’m not really specifically talented at anything except for the
            ability to learn.</p>
        </div>
      </div>

      <div slide="" class="absolute w-full h-full transition-all duration-500" style="transform: translateX(200%);">
        <img class="object-cover h-full" src="/assets/img/carousel-3.jpg" alt="carousel image">
        <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
          <div
            class="inline-block w-8 h-8 mb-4 text-center text-black bg-white bg-center rounded-lg fill-current stroke-none">
            <i class="top-0.75 text-xxs relative text-slate-700 ni ni-trophy"></i>
          </div>
          <h5 class="mb-1 text-white">Share with us your design tips!</h5>
          <p class="dark:opacity-80">Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
        </div>
      </div>

      <button btn-next=""
        class="absolute z-10 w-10 h-10 p-2 text-white border-none opacity-50 cursor-pointer text-lg hover:opacity-100 far fa-chevron-right active:scale-110 top-6 right-4"
        aria-hidden="true"></button>
      <button btn-prev=""
        class="absolute z-10 w-10 h-10 p-2 text-white border-none opacity-50 cursor-pointer text-lg hover:opacity-100 far fa-chevron-left active:scale-110 top-6 right-16"
        aria-hidden="true"></button>
    </div>
  </div>
</div>
