<form id="asset-form"
  class="p-5 bg-white dark:bg-gray-700 w-full divide-y  rounded-md divide-gray-200 border border-gray-200 dark:border-gray-700  dark:divide-gray-700 animate__animated animate__fadeIn">
  <div class="grid grid-cols-1 gap-6 my-6 sm:grid-cols-2">
    <div>
      <label class="block uppercase tracking-wide text-gray-700 dark:text-gray-200 text-xs font-bold mb-2" for="grid-state">
        Name
      </label>

      <input id="name" type="text" name="name"
        class="block w-full px-4 py-2 mt-2 text-gray-700 dark:text-gray-200 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-slate-400 focus:ring-slate-300 focus:ring-opacity-40 dark:focus:border-slate-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="block uppercase tracking-wide text-gray-700 dark:text-gray-200 text-xs font-bold mb-2" for="grid-state">
        Ticker symbol
      </label>

      <input id="symbol" type="email" name="symbol"
        class="block w-full px-4 py-2 mt-2 text-gray-700 dark:text-gray-200 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-slate-400 focus:ring-slate-300 focus:ring-opacity-40 dark:focus:border-slate-300 focus:outline-none focus:ring">
    </div>

    <div>
      <label class="block uppercase tracking-wide text-gray-700 dark:text-gray-200 text-xs font-bold mb-2" for="grid-state">
        Asset type
      </label>

      <select
        class="block w-full px-4 py-2 mt-2 text-gray-700 dark:text-gray-200 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-slate-400 focus:ring-slate-300 focus:ring-opacity-40 dark:focus:border-slate-300 focus:outline-none focus:ring"
        name="atype">
        {{ range .AssetTypes }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>

    </div>

    <div>
      <label class="block uppercase tracking-wide text-gray-700 dark:text-gray-200 text-xs font-bold mb-2" for="grid-state">
        Color
      </label>

      <input
        class="inline-block rounded w-full px-4 py-2 h-12 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg"
        name="color" type="color" value="#FFFFFF">
    </div>

  </div>
  <div class="flex border-none">
    <button type="button" hx-post="/assets" hx-include="#asset-form" hx-target="#mitoast"
      class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md dark:text-gray-800 dark:bg-gray-200 hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
      Create
    </button>
  </div>

</form>
