<section class="mx-auto max-w-screen-2xl">
  <div class="flex items-center justify-center flex-wrap gap-x-1">

    <div class="flex-none flex  py-2 mx-6">
      <h2 class="text-lg font-medium text-gray-800 dark:text-white">Asset pairs </h2>
      <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400 mx-4 ">
        {{ .Amount }} pairs</span>
    </div>

    <div class="flex-1 md:justify-end justify-center items-center flex lg:right-0 py-2 mx-4">
      <button
        class="sidebtn flex items-center px-4 py-2 text-gray-600 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        hx-get="/ui/pairs/form" hx-swap="innerHTML" hx-target="#x-form" hx-trigger="click">
        <img class="mb-1 h-6 w-6" src="/assets/img/newpair.svg" alt="new pair">
        <span class="mx-4 sidebtn">New pair</span>
      </button>
      <button
        class="sidebtn flex block items-center px-4 py-2 text-gray-600 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        hx-get="/ui/assets/form" hx-swap="innerHTML" hx-target="#x-form" hx-trigger="click">
        <img class="mb-1 h-6 w-6" src="/assets/img/newasset.svg" alt="new pair">
        <span class="mx-4 text-dark sidebtn">New asset</span>
      </button>
    </div>
  </div>

  <div class="flex justify-center items-center grow animate__animted animate__flipInX">
    <div id="x-form" class="m-4 w-full overflow-x-auto">
    </div>
  </div>

  <div class="flex justify-center items-center grow animate__animated animate__fadeInLeft">
    <div class="m-4 w-full overflow-x-clip hover:overflow-x-auto">
      <div id="pairsTable" hx-get="/ui/pairs/table" hx-swap="innerHTML" hx-target="this"
        hx-trigger="revealed,newPair from:body">
      </div>
    </div>
  </div>

  <!-- <div class="flex items-center justify-between mt-6"> -->
  <!--   <a href="#" -->
  <!--     class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"> -->
  <!--     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" -->
  <!--       class="w-5 h-5 rtl:-scale-x-100"> -->
  <!--       <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" /> -->
  <!--     </svg> -->
  <!---->
  <!--     <span> -->
  <!--       previous -->
  <!--     </span> -->
  <!--   </a> -->
  <!---->
  <!--   <div class="items-center hidden lg:flex gap-x-3"> -->
  <!--     <a href="#" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60">1</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">2</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">3</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">...</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">12</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">13</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">14</a> -->
  <!--   </div> -->
  <!---->
  <!--   <a href="#" -->
  <!--     class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"> -->
  <!--     <span> -->
  <!--       Next -->
  <!--     </span> -->
  <!---->
  <!--     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" -->
  <!--       class="w-5 h-5 rtl:-scale-x-100"> -->
  <!--       <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" /> -->
  <!--     </svg> -->
  <!--   </a> -->
  <!-- </div> -->
</section>
