<div class="grid w-full grid-cols-1 gap-4 mt-4 lg:grid-cols-2 2xl:grid-cols-4 animate__animated animate__fadeInDown">

  {{ if (ne .Pair.Calculations.BaseMarketPrice 0.0) }}
  <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-32 bg-gray-800 bg-center bg-cover rounded-lg shadow-md text-left text-clip overflow-hidden">
      <span class="font-black scale-125 text-9xl" style="color: rgba(255, 255, 255, 0.4); font-size: 9rem;">
        {{ .Pair.Calculations.MarketName }}
      </span>
    </div>
    <div class="w-64 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
      style="background-color: rgba(255, 255, 255, 0.9)">
      <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase ">
        Price for 1
        <span style="color:{{ .Pair.BaseAsset.Color }}">{{ .Pair.BaseAsset.Symbol }}</span>
      </h3>
      <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        <span class="font-bold text-gray-800 ">
          {{ printf "%.7g" .Pair.Calculations.BaseMarketPrice }}
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          style="background-color: {{ .Pair.Calculations.MarketColor }}">
          {{ .Pair.Calculations.MarketName }}
        </button>
      </div>
    </div>
  </div>
  {{ else }}
  <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-32 bg-red-500 bg-center bg-cover rounded-lg shadow-md text-left text-clip overflow-hidden">
      <span class="font-black scale-125 text-9xl" style="color: rgba(255, 255, 255, 0.4); font-size: 9rem;">
        404 Not found
      </span>
    </div>
    <div class="w-64 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
      style="background-color: rgba(255, 255, 255, 0.9)">
      <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase ">
        Price for 1
        <span style="color:{{ .Pair.BaseAsset.Color }}">{{ .Pair.BaseAsset.Symbol }}</span>
      </h3>
      <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        <span class="font-bold text-gray-800 ">
          --
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"
          style="background-color: {{ .Pair.Calculations.MarketColor }}">
          Not found
        </button>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-32 bg-center bg-cover rounded-lg shadow-md text-left uppercase text-clip overflow-hidden"
      style="background-color: {{ .Pair.BaseAsset.Color }}">
      <span class="font-black scale-125 text-9xl" style="color: rgba(255, 255, 255, 0.8); font-size: 10rem;">
        {{ .Pair.BaseAsset.Symbol }}
      </span>
    </div>
    <div class="w-64 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
      style="background-color: rgba(255, 255, 255, 0.9)">
      <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase ">
        You have {{ printf "%.2f" .Pair.Calculations.TotalBase }}
        <span style="color:{{ .Pair.BaseAsset.Color }}">{{ .Pair.BaseAsset.Symbol }}</span>
      </h3>
      <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">
          <!-- <i class="fa-solid fa-arrows-rotate"></i> -->
          Worth:
        </button>
        <span class="font-bold text-gray-800 ">
          {{ printf "%.2f" .Pair.Calculations.TotalBaseInQuote }}
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div
      class="w-full h-32 bg-gray-300 bg-center bg-cover rounded-lg shadow-md text-left uppercase text-clip overflow-hidden"
      style="background-color: {{ .Pair.QuoteAsset.Color }}">
      <span class="font-black scale-125 text-9xl" style="color: rgba(255, 255, 255, 0.8); font-size: 10rem;">
        {{ .Pair.QuoteAsset.Symbol }}
      </span>
    </div>
    <div class="w-64 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800"
      style="background-color: rgba(255, 255, 255, 0.9)">
      <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase ">
        Avg. buy price.
      </h3>
      <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">
          Info.
        </button>
        <span class="font-bold text-gray-800 ">
          {{ printf "%.7g" .Pair.Calculations.AvgBuyPrice }}
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    {{ if (gt .Pair.Calculations.PNLAmount 0.0) }}
    <div class="w-full h-32 rounded-lg shadow-md bg-emerald-300 uppercase truncate text-left text-clip overflow-hidden">
      <span class="font-black scale-125 text-9xl text-right" style="color: rgba(255, 255, 255, 0.8); font-size: 10rem;">
        +%
      </span>
    </div>
    {{else}}
    <div class="w-full h-32 rounded-lg shadow-md bg-red-300 uppercase truncate text-left text-clip overflow-hidden">
      <span class="font-black scale-125 text-9xl text-right" style="color: rgba(255, 255, 255, 0.8); font-size: 10rem;">
        -%
      </span>
    </div>
    {{end}}
    <div class="w-64 -mt-10 overflow-hidden rounded-lg shadow-lg dark:bg-gray-800"
      style="background-color: rgba(255, 255, 255, 0.9)">
      <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase ">
        P & L
      </h3>
      <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        {{ if (gt .Pair.Calculations.PNLAmount 0.0) }}
        <span class="font-bold text-gray-800 ">
          +{{ printf "%.2f" .Pair.Calculations.PNLAmount }}
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">
          <span class="font-bold text-emerald-400 dark:text-emerald-200">
            + {{ printf "%.2f" .Pair.Calculations.PNLPercent }}%
          </span>
        </button>
        {{ else }}
        <span class="font-bold text-gray-800 ">
          {{ printf "%.2f" .Pair.Calculations.PNLAmount }}
          <span style="color:{{ .Pair.QuoteAsset.Color }}">
            {{ .Pair.QuoteAsset.Symbol }}
          </span>
        </span>
        <button
          class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">
          <span class="font-bold text-red-600 dark:text-red-200">
            {{ printf "%.2f" .Pair.Calculations.PNLPercent }}%
          </span>
        </button>
        {{ end }}
      </div>
    </div>
  </div>

</div>
