<section class="mx-auto max-w-screen-2xl">

  <div hx-get="/ui/pairs/{{ .PairID }}/cards" hx-target="this" hx-trigger="revealed,newTransaction from:body" class="">
  </div>
  <br>

  <div class="flex items-center justify-between flex-wrap">
    <div class="flex-none py-2 mx-6">
      <h2 class="text-lg font-medium text-gray-800 dark:text-white">Transactions</h2>
    </div>

    <div class="flex-wrap gap-y-2 gap-x-2 md:justify-end gap-x-2 justify-center items-center flex lg:right-0 py-2 mx-4">
      <form id="import-form" class="flex items-center">
        <input id="upload"
          class="inline-block px-3 py-2 align-middle transition-all rounded-lg cursor-pointer leading-normal text-xs ease-in tracking-tight-rem shadow-xs active:opacity-85 hover:shadow-md "
          name='trancsv' type="file">
      </form>
      <button hx-encoding='multipart/form-data' hx-post="/pairs/{{ .PairID }}/transactions/upload" hx-target="#mitoast"
        hx-include="#import-form"
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-gray-700 hover:bg-gray-600 rounded-lg sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-gray-300 dark:bg-blue-600">
        <img src="/assets/img/import.svg" alt="import" class="h-6 w-6">
        <span>Import</span>
      </button>
      <button
        class="flex items-center border-2 border-gray-300 border-solid justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-dark transition-colors duration-200 bg-white rounded-lg sm:w-auto gap-x-2 hover:bg-gray-600 hover:text-gray-200 dark:hover:bg-blue-500 dark:bg-gray-300">
        <img src="/assets/img/export.svg" alt="export" class="h-6 w-6">
        <a href="/pairs/{{ .PairID }}/transactions/export" target="_blank">
          <span>Export</span>
        </a>
      </button>

      <button hx-get="/ui/pairs/{{ .PairID }}/transactions/form" hx-swap="innerHTML" hx-target="#transaction-form"
        hx-trigger="click"
        class="flex items-center border-2 border-gray-300 border-solid justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-dark transition-colors duration-200 bg-white rounded-lg sm:w-auto gap-x-2 hover:bg-gray-600 hover:text-gray-200 dark:hover:bg-blue-500 dark:bg-gray-300">
        <img src="/assets/img/new.svg" alt="export" class="h-6 w-6">
        <span>New</span>
      </button>
    </div>
  </div>

  <div class="flex justify-center items-center grow animate__animted animate__fadeInUp">
    <div id="transaction-form" class="m-4 w-full overflow-x-auto">
    </div>
  </div>

  <div class="flex justify-center items-center grow animate__animated animate__fadeInUp">
    <div class="m-4 w-full overflow-x-clip hover:overflow-x-auto">
      <div id="transactionsTable" hx-get="/ui/pairs/{{ .PairID }}/transactions/table" hx-swap="innerHTML"
        hx-target="this" hx-trigger="revealed,newTransaction from:body">
      </div>
    </div>
  </div>

  <!-- <div class="flex items-center justify-between mt-6"> -->
  <!--   <a href="#" -->
  <!--     class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"> -->
  <!--     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" -->
  <!--       class="w-5 h-5 rtl:-scale-x-100"> -->
  <!--       <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" /> -->
  <!--     </svg> -->
  <!---->
  <!--     <span> -->
  <!--       previous -->
  <!--     </span> -->
  <!--   </a> -->
  <!---->
  <!--   <div class="items-center hidden md:flex gap-x-3"> -->
  <!--     <a href="#" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60">1</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">2</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">3</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">...</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">12</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">13</a> -->
  <!--     <a href="#" -->
  <!--       class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">14</a> -->
  <!--   </div> -->
  <!---->
  <!--   <a href="#" -->
  <!--     class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"> -->
  <!--     <span> -->
  <!--       Next -->
  <!--     </span> -->
  <!---->
  <!--     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" -->
  <!--       class="w-5 h-5 rtl:-scale-x-100"> -->
  <!--       <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" /> -->
  <!--     </svg> -->
  <!--   </a> -->
  <!-- </div> -->
</section>
