<span class="right-0 py-1.4 px-2.5 text-xs rounded-1.8 inline-block whitespace-nowrap text-center bg-gradient-to-tl from-emerald-500 to-teal-400 align-baseline font-bold uppercase leading-none text-white">{{ .Msg }}</span><br>
{{ if .Extra }}
<span class="animate__animated animate__bounceIn right-0 py-1.4 px-2.5 text-xs rounded-1.8 inline-block whitespace-nowrap text-center bg-gradient-to-tl from-blue-500 to-teal-400 align-baseline font-bold leading-none text-white">{{ .Extra }}</span>
{{ end }}
