<div id="remove" class="w-full max-w-full my-6 animate__animated animate__faceIn animate__faster">
  <div
    class="relative flex flex-col h-full min-w-0 mb-6 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
    <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
      <div class="flex flex-wrap -mx-3">
        <div class="max-w-full px-3 md:w-1/2 md:flex-none my-2">
          <h6 class="mb-0 dark:text-white">New transaction</span>
          </h6>
        </div>
        <div class="flex items-center justify-end max-w-full px-3 dark:text-white/80 md:w-1/2 md:flex-none">
        </div>
      </div>
      <form id="trans-form" class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              <span style="color:#{{ .Pair.BaseAsset.Color }}">{{ .Pair.BaseAsset.Symbol}}</span>
            </label>
            <input name="base"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" type="number" placeholder="0.029578 {{ .Pair.BaseAsset.Symbol}}">
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
          <div class="w-full md:w-4/12  px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              <span style="color:#{{ .Pair.QuoteAsset.Color }}">{{ .Pair.QuoteAsset.Symbol }}</span>
            </label>
            <input name="quote" value="350.65 {{ .Pair.QuoteAsset.Symbol}}"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" value="0" type="number" placeholder="365.87 {{ .Pair.QuoteAsset.Symbol}}">
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
          <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              <span class="text-emerald-500">
                Buy
              </span>
              /
              <span class="text-red-500">
                Sell
              </span>
            </label>
            <div class="relative">
              <select name="ttype"
                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-state">
                <option>Buy</option>
                <option>Sell</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap items-center -mx-3 mb-6">
          <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Transaction Fee
            </label>
            <input name="tfee"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" value="0" type="number" placeholder="0.0004 {{ .Pair.BaseAsset.Symbol}}">
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
          <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Withdrawal Fee
            </label>
            <input name="wfee"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" value="0" type="number" placeholder="0.0002 {{ .Pair.BaseAsset.Symbol}}">
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
          <div class="w-full md:w-4/12 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Date
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              type="date" id="start" name="tdate" value="{{ .Today }}" min="1997-01-01" max="2123-12-31" />
            <!-- <input name="wfee" -->
            <!--        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" -->
            <!--        id="grid-first-name" value="0" type="number" placeholder="0.0002 {{ .Pair.BaseAsset.Symbol}}"> -->
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>

        </div>
        <div class="flex flex-wrap">
          <div class="flex">
            <button hx-post="/pairs/{{ .Pair.ID }}/transactions" hx-include="#trans-form" hx-target="#toast"
              hx-swap="innerHTML"
              class="my-4  px-6 py-3 font-bold text-center text-white uppercase align-middle rounded-lg cursor-pointer bg-gradient-to-tl from-blue-500 to-violet-500 leading-normal text-xs ease-in tracking-tight-rem shadow-xs hover:-translate-y-px active:opacity-85 hover:shadow-md">
              Record
            </button>
          </div>
          <div class="flex">
            <button hx-delete="/empty" hx-target="#remove" hx-swap="outerHTML" hx-trigger="click"
              class="px-8 my-4 mr-3 font-bold text-center text-blue-500 uppercase text-red-600 ml-2 align-middle transition-all border-2 border-red-600 rounded-lg cursor-pointer bg-blue-500/0 leading-normal text-xs ease-in tracking-tight-rem bg-150 bg-x-25 hover:bg-blue-500/25 hover:-translate-y-px active:bg-blue/44">
              Close
            </button>
          </div>
          <div class="">
            <div id="toast" class="inline-block px-6 py-3 mr-3"></div>
          </div>
          <div class="flex flex-1 justify-end items-center">
          </div>
        </div>
        </form>
    </div>
  </div>
</div>

