<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
  <thead class="bg-gray-50 dark:bg-gray-800">
    <tr>
      <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <div class="flex items-center gap-x-3">
          <input type="checkbox"
            class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
          <span>Transaction type</span>
        </div>
      </th>

      <th scope="col"
        class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
        Quote
      </th>

      <th scope="col"
        class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
        Price
      </th>

      <th scope="col"
        class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
        Date
      </th>

      <th scope="col" class="relative py-3.5 px-4">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900 animate__headShake animate__animated">
    {{ range .Pair.Transactions }}
    <tr id="trans{{ .ID }}" class="animate__animated">
      <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
        <div class="inline-flex items-center gap-x-3">
          <input type="checkbox"
            class="text-blue-500 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700" disabled>
          <div class="flex items-center gap-x-2">
            {{ if eq .TransactionType "Buy" }}
            <div class="flex items-center border-0 justify-center w-8 h-8 bg-green-500 rounded-full dark:bg-gray-800">
              <div class="flex items-center justify-center w-8 h-8 bg-green-100 rounded-full dark:bg-gray-800">
                <img src="/assets/img/buy.svg" alt="buy">
              </div>
            </div>
            {{ else }}
            <div class="flex items-center justify-center w-8 h-8 text-red-500 bg-red-100 rounded-full dark:bg-gray-800">
              <div class="flex items-center justify-center w-8 h-8 bg-red-100 rounded-full dark:bg-gray-800">
                <img src="/assets/img/sell.svg" alt="sell">
              </div>
            </div>
            {{ end }}
            <div>
              <h2 class="font-normal text-gray-800 dark:text-white ">{{ .TransactionType }}</h2>
              <p class="text-xs font-normal text-gray-500 dark:text-gray-400">
                {{ .BaseAmount }}
                <span style="color:{{ $.Pair.BaseAsset.Color }}">
                  {{ $.Pair.BaseAsset.Symbol }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </td>
      <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
        {{ if eq .TransactionType "Sell" }}
        <span class="text-emerald-500">
          + {{ .QuoteAmount }}
        </span>
        {{ else }}
        <span class="text-red-500">
          - {{ .QuoteAmount }}
        </span>
        {{ end }}
        <span style="color:{{ $.Pair.QuoteAsset.Color }}">
          {{ $.Pair.QuoteAsset.Symbol }}
        </span>
      </td>
      <td class="px-4 py-4 text-sm text-gray-500 font-semibold dark:text-gray-300 whitespace-nowrap">
        {{ printf "%.2f" .Price }}
        <span class="mb-1 text-sm leading-normal dark:text-white" style="color:{{ $.Pair.QuoteAsset.Color }}">
          {{ $.Pair.QuoteAsset.Symbol }}
        </span>
      </td>
      <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
        {{ .Timestamp.Format "Jan 02, 2006 15:04" }}
      </td>
      <td class="px-4 py-4 text-sm whitespace-nowrap">
        <button hx-target="#mitoast" hx-delete="/transactions/{{ .ID }}"
          class="inline-block font-bold text-red-600 text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none leading-normal text-sm ease-in bg-150 tracking-tight-rem bg-x-25"
          _="on htmx:confirm(issueRequest)
             halt the event
             call Swal.fire({title: 'Confirm', text:'Al transaction associated will be deleted. Are you sure ?'})
             if result.isConfirmed issueRequest() toggle .animate__backOutRight on #trans{{ .ID }} then wait 1s then remove #trans{{ .ID }}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
