.clickednav{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #4A5568; /* Replace with your desired text color */
  background-color: #F7FAFC; /* Replace with your desired background color */
  border-radius: 0.375rem; /* You can adjust the radius as needed */
}

.clickednav.dark{
  background-color: #1A202C; /* Replace with your desired dark background color */
  color: #CBD5E0; /* Replace with your desired dark text color */
}

.loader {
  display: none;
}

.htmx-request .loader {
  display: block;
}

.htmx-request.loader {
  display: block;
}

.htmx-request .loaded {
  display: none;
}
.htmx-request.loaded {
  display: none;
}

@media only screen and (max-width: 698px) {
  #hideSmall {
    display: none;
  }
}


.loadingb {
      width: 100%;
      background:
          linear-gradient(0.25turn, transparent, #FFF, transparent),
          linear-gradient(#DDD, #DDD),
          radial-gradient(38px circle at 19px 19px, #DDD 50%, transparent 51%),
          linear-gradient(#DDD, #DDD);
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 100% 100%, 100%; 130px, 100px 100px, 225px 30px;
      background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
      animation: loading 1.5s infinite;
  }

  @keyframes loading {
    to {
      background-position: 100% 0, 0 0, 15px 140px, 65px 145px;
    }
  }

/* input[type="file"] { */
/*     position: absolute; */
/*     z-index: -1; */
/*     top: 15px; */
/*     left: 20px; */
/*     font-size: 17px; */
/*     color: #b8b8b8; */
/* } */
