.loader {
  display: none;
}

.htmx-request .loader {
  display: block;
}

.htmx-request.loader {
  display: block;
}

.htmx-request .loaded {
  display: none;
}
.htmx-request.loaded {
  display: none;
}

@media only screen and (max-width: 698px) {
  #hideSmall {
    display: none;
  }
}
