:root {
  --animate-delay: 0.5s;
}

.loader {
  display: none;
}

.htmx-request .loader {
  display: block;
}

.htmx-request.loader {
  display: block;
}

.htmx-request .loaded {
  display: none;
}
.htmx-request.loaded {
  display: none;
}

@media only screen and (max-width: 698px) {
  #hideSmall {
    display: none;
  }
}


  .htmx-indicator {
    display: none;
    /* You might add transitions here */
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  .htmx-request.htmx-indicator { /* htmx adds htmx-request also to the indicator element itself when targeted */
      display: inline-block; /* Or block, etc. */
      opacity: 1;
  }


  @keyframes loading {
    to {
      background-position: 100% 0, 0 0, 15px 140px, 65px 145px;
    }
  }

.animate__animated.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
